*.iml
.DS_Store
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.gradle
.gradle-local
.gradle-home
.kotlin
target

local.properties
**/local.properties
**/build
**/captures
**/.externalNativeBuild
**/.cxx
**/release

services/spam-db-api/data
