ADMIN_PASSWORD=change-me
RUST_LOG=spam_db_api=info,tower_http=info,axum=info
POSTGRES_DB=spam_db
POSTGRES_USER=spam
POSTGRES_PASSWORD=spam
DATABASE_URL=postgres://spam:spam@127.0.0.1:5432/spam_db
BIND_ADDRESS=0.0.0.0:8080
